#PopupMainDiv {
    background-color: rgb(255, 255, 255);
    height: 40%;
    width: 75%;
    border: black solid 2px;
    border-radius: 15px;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    box-shadow: 0px 13px 50px 50px rgba(0,0,0,0.46);
}

svg{
    margin-left: 94.5%;
    margin-top: 1%;
    width: 6.5%;
    height: 6.5%;
    cursor: pointer;
}
svg:hover{
    color: red;
}

h2{
    margin-top: 0;
    margin-left: 2.5%;
}

#divLicenseDetails{
   display: flex;
   justify-content: space-between;
   height: 10%;
   /* background-color: aqua; */
   margin-top: 1%;
   width: 80%;
   margin-left: 10%;

   
}

#divLicenseDetails input, select
{
    border: solid 1px black;
    border-radius: 15px;
}


#divLicenseDetailsTitle{
    display: flex;
    /* justify-content: space-between; */
    height: 10%;
    /* background-color: blueviolet;  */
    align-items: center;
    width: 80%;
    margin-left: 10%;
    
}


#PopupMainDiv p {
    width: 24%;
    height: 50%;

    margin: 0 auto;
    /* background-color: aliceblue; */
    text-align: center; /* Zentriert den Text innerhalb des <p>-Elements */
    display: flex;
    align-items: center;
    justify-content: center;
}


#PopupMainDiv input, select {
    width: 29%;
    height: 60%;

    margin: 0 auto;
    /* background-color: aliceblue; */
    text-align: center; /* Zentriert den Text innerhalb des <p>-Elements */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

#PopupButtons{
    /* background-color: aqua; */
    display: flex;
    width: 80%; 
    margin-top: 1%;
    margin-left: 10%;

}

#PopupButtons p{
    border: black solid 1px;
    border-radius: 15px;
    font-weight: 550;
    padding: 3px;
    cursor: pointer;
    background-color: red;
}

#PopupButtons p:active{
    transform: scale(0.8);
    transition-duration: 80ms  
}


#PopupMainDiv input:focus{
    transform: scale(1.3);
    transition-duration: 80ms  
}

#LicenseOptions{
    width: 45%;
}


#ueberschriftSubscriptionPack {
    padding-left: 6% !important; 
    padding-right: 6% !important; 
}